body {
  font-family: Trebuchet MS , sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #5d4037;
  margin: 0;
  padding: 0;
  min-width: 1100px;

  background-repeat: no-repeat;
  background-position: center top;
}
html {
	scroll-behavior: smooth;
}
#preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.block-back{
	background-color: black;
	height: 100%;
	width: 100px;
	position: fixed;
	opacity: 0.1;
	transition: 0.3s;
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	background-position: center 20px;

}
.block-back:hover{
  transition: 0.3s;
  opacity: 0.2;
}
.container {
  width: 1195px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo::after {
  display: table;
  clear: both;
  content: "";
}
.logo-img{
	float:left;
}
.logo h1{
	margin-left: 150px;
	padding-top: 40px;
}
.main-header{
	background-color: #ffcccb;
	padding-top: 1px;
	padding-left: 15px;
    padding-bottom: 80px;
}
.main-header::after {
  display: table;
  clear: both;
  content: "";
}
/*--------------MENU------------*/
.main-menu {
  float: none;
  width: 100%;
  margin-top: 25px;
}
.main-menu li {
  display:inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-family: Trebuchet MS;
  padding-top: 15px;

}
.main-menu li:first-child{
	padding-left: 0%;

}
.main-menu li:last-child{
  margin-right: 0;
}
.main-menu ul {
  background-color: #ef9a9a;
  margin:0;
  margin-left:5px;
  margin-right:20px;
  padding:0px;
  height: 53px;
  list-style:none;

}
.main-menu li a
{
	   background-color: #e57373;
	   padding: 15px;
	   padding-left: 80px;
	   padding-right: 80px;
	   transition: 0.3s;

 }
.main-menu li a:hover {
		 background-color:#ffa4a2;

	   }
.main-menu li a:focus {
	   background-color:#af4448;
}

.header-top::after {
  display: table;
  clear: both;
  content: "";
}
.header-top{
  /*margin-bottom:93px;*/
  height:75;
}
/*-------------PROMO---------------*/
.promo{
  min-height:395px;
}
.promo-greetings{
  color: #5d4037;
  font-size: 45px;
  line-height: 50px;

  font-weight: bold;
  font-style: Trebuchet MS;
  margin-bottom:35px;
}
.promo-cats{
	border-radius: 60px;
	float:right;
}
.header-top a{
  color:#5d4037;
  text-decoration: none;
  font-weight:bold;
}
/*----------popular----------*/
.popular {
  padding-top: 50px;
  padding-bottom: 45px;
  margin-top:0px;
  background-color:#ef9a9a;
  min-height: 50px;
  padding-left: 110px;
  padding-right: 20px;
}
.popular h2{
	margin-left: 240px;
}
.popular .container::after {
  display: table;
  clear: both;
  content: "";
}

.block-popular {
  float: left;
  width: 320px;
  margin-right: 30px;
  text-align: center;
  border: 5px solid #ba6b6c;
  border-radius: 22px;
  background-color: white;
 /* padding: 15px;*/
 /* padding-top: 310px;*/
  height:410px;
}
.block-popular a{
  font-family: Trebuchet MS;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
	text-decoration: none;
	color:#5d4037;
	transition: 0.3s;
}

.block-popular .desc{
  font-family: Tahoma;
  font-size: 18px;
    text-align: center;
    color: #545454;
    margin-top: 5px;
}
.block-popular a:hover
{
	text-decoration: underline;
}
.block-popular a:active
{
	text-decoration: none;
	opacity: 0.8;
}

.img-popular
{
	border-radius: 20px;
}
/*----------------footer----------*/

.main-footer {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #1f2022;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  padding-left: 200px;
}

.footer-top::after,
.footer-bottom::after {
  display: table;
  clear: both;
  content: "";
}

.footer-address {
  float: right;
  width: 300px;
  margin-right: 40px;
}

.footer-address .logo {
  float: none;
}

.footer-address h3 {
  margin: 0;
  margin-top: 10px;
  color:#ffcc00;
}
.footer-address h3:hover
{
	text-decoration: underline;
}
.footer-address h3:active{
	text-decoration: none;
	opacity: 0.3;
}
.footer-bottom {
	float:left;
	margin-top: -120px;
	margin-left: -50px;
	width: 1220px;
}
.social-btn {
  margin-left: 25px;
  float:left;
}
.footer-social a
{
	display:inline-block;
    vertical-align: top;
	text-decoration: none;
}
.footer-social h5
{
	color: #ffcc00;
    font-size: 18px;
    line-height: 24px;
	margin-left: 80px;
	margin-top: 10px;
	width: 200px;
}
.footer-social h5:hover{
	text-decoration: underline;
}
.footer-social h5:active{
	text-decoration: none;
	opacity: 0.3;
}
/*-------------SPISOK-----------*/
.spisok{
	border: 5px solid #ba6b6c;
	border-radius: 10px;
	width: 420px;
	padding-right: 10px;
	margin-left: 5px;
	margin-top: 40px;
	float:left;
}
.title-spisok{
	font-family: Trebuchet MS;
    font-size: 30px;

}
.spisok ul{
	list-style:disc;
}
.spisok a{
  font-family: Trebuchet MS;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color:#5d4037;
}
.spisok a:hover
{
	text-decoration: underline;
}
.spisok a:active
{
	text-decoration: none;
	opacity: 0.8;
}
.description{
	margin-top: 50px;
	margin-left: 500px
}
/*----------BREED------------*/

.block-breed {
  float: left;
  width: 320px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
  border: 5px solid #ba6b6c;
  border-radius: 22px;
  background-color: white;
  height:410px;
}
.block-breed a{
  transition: 0.3s;
  font-family: Trebuchet MS;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color:#5d4037;
}

.block-breed .desc{
  font-family: Tahoma;
  font-size: 18px;
  text-align: center;
  color: #545454;
  margin-top: 5px;
}
.block-breed a:hover
{
	text-decoration: underline;
}
.block-breed a:active
{
	text-decoration: none;
	opacity: 0.8;
}
/*------------CATS---------------*/
.img-cats{
	float: right;
	border-radius: 20px;
	margin-right: 50px;
	margin-top: 50px;
}
.cats h2{
	margin-left: 10px;
}
.cats h1{
	margin-left: 10px;
}
.characteristic-cats-table,
.characteristic-cats-table td{
	border: 5px solid #ba6b6c;
	margin-left: 20px;
}
.characteristic-cats-table
{
	border-collapse: collapse;
	padding: 2px;
}
.characteristic-cats-table td
{
	padding:20px;
	width:200px;
}
.description-cats {
  padding-top: 50px;
  padding-bottom: 45px;
  margin-top:0px;
  background-color:#ef9a9a;
  min-height: 50px;
  padding-left: 50px;

}
.description-cats p{
	width: 1100px;
}
